@page
@model BlazorTemplate.Server.Pages.Account.Confirmation

@{
    ViewData["Title"] = "Confirm your account";
}

<header>
    <h1>Your account is being reviewed.</h1>

    <p>
        You will receive an email as soon as your account is approved.
    </p>

    <p>
        Please contact your administrator for more information.
    </p>
</header>
