@page
@model BlazorTemplate.Server.Pages.Account.Confirmation

@{
    ViewData["Title"] = "Your account is locked.";
}

<header>
    <h1>Your account is locked.</h1>

    <p>
        Please contact your administrator for more information.
    </p>
</header>
