name: Configure New Repository

on:
  push:
    branches:
      - main

jobs:
  configure-new-repo:
    runs-on: ubuntu-latest

    if: ${{ github.event.created && github.repository != 'TheDayIsMyEnemy/BlazorTemplate' }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Git
      run: |
        git config --global user.email "thedayismyenemy@users.github.no-reply.com"
        git config --global user.name "thedayismyenemy"

    - name: Update Project Structure
      run: |
        old_name='BlazorTemplate'
        new_name=${{ github.event.repository.name }}
        find . -maxdepth 2 -type d -name "$old_name*" -exec bash -c 'mv "{}" "$(echo "{}" | sed -e "s/'"${old_name}"'/'"${new_name}"'/")"' \;
        find . -maxdepth 5 -type f \( -name '*.sln' -o -name '*.csproj' -o -name '*.cshtml' -o -name '*.razor' -o -name '*.cs' -o -name '*.md' \) -exec bash -c 'mv "{}" "$(echo "{}" | sed -e "s/'"${old_name}"'/'"${new_name}"'/")"' \;
        find . -type f \( -name '*.sln' -o -name '*.csproj' -o -name '*.cshtml' -o -name '*.razor' -o -name '*.cs' -o -name '*.md' \) -exec sed -i "s/$old_name/$new_name/g" {} +
        rm .github/workflows/configure-new-repo.yml

    - name: Commit and Push Changes
      run: |
        git add -A
        git commit -m "Update project structure"
        git push origin main
      env:
        GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v3
      with:
        title: "Update project structure to match repository name"
        labels: "auto-update"
        branch: "main"
        base: "main"

    - name: Close Pull Request
      run: |
        PR_NUMBER=$(echo "${{ steps.cpr.outputs.pull-request }}")
        TOKEN=$GITHUB_TOKEN
        COMMENT="Closing PR as completed. Thank you!"
        curl -X POST -H "Authorization: Bearer $TOKEN" \
          -H "Accept: application/vnd.github.v3+json" \
          "https://api.github.com/repos/${{ github.repository }}/pulls/$PR_NUMBER/comments" \
          -d "{\"body\":\"$COMMENT\",\"event\":\"COMMENT\"}"
        curl -X PATCH -H "Authorization: Bearer $TOKEN" \
          -H "Accept: application/vnd.github.v3+json" \
          "https://api.github.com/repos/${{ github.repository }}/pulls/$PR_NUMBER" \
          -d "{\"state\":\"closed\"}"
